PORT=5000
MONGO_URI=mongodb+srv://nadasalha_db:INWeSUZKNWIW4bNf@cluster0.fwlpbxc.mongodb.net/?appName=Cluster0
JWT_SECRET=3aa6d5b38d2422d27bfa31347cdbc05dce582ea1fe450d4ee73ba161a3e47f2cad6ae961e775bef4c7d0f428631635912c5dab3bb3486682030fd9eafe850cc7
JWT_EXPIRE=1h

# Google Auth
GOOGLE_CLIENT_ID=677479742397-sd6stcb1mothfu4fu8uk86vbpnkfujhr.apps.googleusercontent.com

# Cloudinary (if needed)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
