PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/boro-bazar

JWT_SECRET=your_super_secret_jwt_key_here_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_refresh_key_here_min_32_chars
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

CORS_ORIGIN=http://localhost:3000

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Email Configuration
EMAIL_PROVIDER=nodemailer
EMAIL_FROM="Boro Bazar <ayshavolidis@gmail.com>"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ayshavolidis@gmail.com
SMTP_PASS=mhpuuotaoouxwupw


NODE_ENV=development

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret